$('#buttonDetails').replaceWith( '<div id="buttonDetails">' +
'<%= j render "palettes/right_side/button_form" %>' +
"</div>");
$('#speechSpeedRateSlider').css('margin-left', '10px');
var speedRateField = $('#button_speech_speed_rate');
var speedRate = <%= @button.speech_speed_rate.to_f %>;
$('.noUiSlider').noUiSlider({
  range: [0, 1]
  ,start: [speedRate, 0]
  ,step: 0.1
  ,handles: 1
  ,serialization: {
    to: [speedRateField]
  }
}).change(function(){
  $('#button_form').submit();
});

speedRateField.mouseover(function() {
  $(this).prop('disabled', true);
});

speedRateField.mouseout(function() {
  $(this).prop('disabled', false);
});

function getColor(name){
  var colors = {'red':'#c1392d', 'orange':'#d45300', 'yellow':'#f39b13',
                'green':'#27ae61', 'lightgreen':'#2dcc70', 'blue':'#297fb8',
                'turquoise':'#13c8b0', 'purple':'#8d44af', 'pink':'#fe7a7a'};
  return colors[name];
}

function format(state) {
  if (!state.id) return state.text; // optgroup
  var val = "<div class='buttonColorPreviewBox' style='background-color: " +
          getColor(state.text.toLowerCase().replace(/ /, '')) + ";'></div>" + "    " + state.text;
  return val;
}

$(function() {
  $('select#button_button_color_id').select2({
    width: '305px',
    height: '50px',
    formatResult: format,
    formatSelection: format
  }).change(function(){
    $('#button_form').submit();
  });
});


$('#butttonHeaderOnForm').val('<%= @button.title %>');


var enter_key_pressed;

enter_key_pressed = function(e) {
  var data, url;
  if (e.which === 13) {
    url = "/buttons";
    data = {
      palette_id: '<%= current_user.current_palette.id %>',
      keypress: true,
      status: 'duplicate',
      js: true
    };
    return $.ajax({
      type: "POST",
      url: url,
      data: data,
      dataType: 'script'
    });
  }
};

$('#button_title').keypress(function(e) {
  return enter_key_pressed(e);
});

$('#button_speech_phrase').keypress(function(e) {
  return enter_key_pressed(e);
});

$('#addNewButton').blur();

$('#button_tile').focus();
