$('#buttonDetails').replaceWith( '<div id="buttonDetails">' +
'<%= j render "palettes/right_side/button_form" %>' +
"</div>");
$('#speechSpeedRateSlider').css('margin-left', '10px');
var speedRateField = $('#button_speech_speed_rate');
var speedRate = <%= @button.speech_speed_rate.to_i %>;
$('.noUiSlider').noUiSlider({
  range: [1, 10]
  ,start: [speedRate, 10]
  ,step: 1
  ,handles: 1
  ,serialization: {
    to: [speedRateField]
  }
}).change(function(){
  $('#button_form').submit();
});

speedRateField.mouseover(function() {
  $(this).prop('disabled', true);
});

speedRateField.mouseout(function() {
  $(this).prop('disabled', false);
});

function format(state) {
  if (!state.id) return state.text; // optgroup
  console.log(state);
  var val = "<div class='buttonColorPreviewBox' style='background-color: " +
          state.text.toLowerCase().replace(/ /, '') + ";'></div>" + "    " + state.text;
  console.log(val);
  return val;
}

$(function() {
  $('select#button_button_color_id').select2({
    width: '305px',
    height: '50px',
    formatResult: format,
    formatSelection: format
  }).change(function(){
    $('#button_form').submit();
  });
});


$('#butttonHeaderOnForm').val('<%= @button.title %>');


var enter_key_pressed;

enter_key_pressed = function(e) {
  var data, url;
  if (e.which === 13) {
    url = "/buttons";
    data = {
      palette_id: gon.active_palette,
      keypress: true,
      status: 'duplicate',
      js: true
    };
    return $.ajax({
      type: "POST",
      url: url,
      data: data,
      dataType: 'script'
    });
  }
};

$('#button_title').keypress(function(e) {
  return enter_key_pressed(e);
});

$('#button_speech_phrase').keypress(function(e) {
  return enter_key_pressed(e);
});

$('#addNewButton').blur();

$('#button_tile').focus();
