<% if @palette.buttons.any? %>
<div id="paletteButtonsInCenterColumn">
  <div class="gridster">
    <ul>
      <% @palette.buttons.each do |button| %>
        <%= render 'buttons/gridster/widget', button: button %>
      <% end %>
    </ul>
  </div>
</div>
<script>
  $(".gridster ul").gridster({
	  widget_margins: [1, 1],
	  widget_base_dimensions: [50, 50],
    max_cols: 12,
    min_cols: 12,
    serialize_params: function($w, wgd) {
		  return {
			  id: $w.data('id'),
			  col: wgd.col,
			  row: wgd.row,
			  size_x: wgd.size_x,
			  size_y: wgd.size_y
      }
	  },
	  draggable: {
		  stop: function(){
			  var url = "<%= save_grid_palette_buttons_path @palette %>";
			  var data = "button_data="+JSON.stringify(
					  $(".gridster ul").gridster().data('gridster').serialize()
			  );
//			  $.post(
//					  url,
//					  data,
//					  null,
//					  'script'
//			  )
		  }
	  }
  });
</script>
<% end %>
