<div  id="personalProfileBox">
  <div class="media">
    <%= link_to image_tag(profile_avatar_url(current_user.profile, :large),
                            size: "200x200", class: "media-object pull-left"),
                '#uploadProfileAvatarModal',
                data: { toggle: "modal", backdrop: 'static'},
                id: "showAvatarUploaderFormLink",
                title: 'Click to change avatar'
    %>

    <div class="media-body">
      <h3 class="media-heading"><%= current_user.full_name %></h3>
      <%= render 'profiles/user_name' %>

    </div>
  </div>
  <%= render 'profiles/upload_avatar' %>
</div>

<script>
  $('input#profile_user_name').on('focusout', function() {
    $('#editProfileInPlaceForm').submit();
  });

  $('#showAvatarUploaderFormLink').tooltip({
    'placement': 'bottom'
  });


</script>
