<% content_for :content  do %>
    <div class="container" id="resendConfirmation">
      <h2>Resend confirmation instructions</h2>
      <%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.input :email, :required => true, :autofocus => true, placeholder: t('home.placeholder.email') %>
          </div>
        </div>
      </div>
        <%= f.button :submit, t('home.placeholder.resend_confirmation'), class: "btn btn-primary" %>
      <% end %>
    </div>

    <!--<%= render "devise/shared/links" %>-->
<% end %>