  <div class="editorContent" id="centerContentBox">
    <div class="form-group" style="padding:10px;">
      Palette Name: <input type="textbox" class="form-control"  id="paletteName"/>
    </div>
    <div class="container" id="palette"></div>
  </div>

    <script defer="defer">

        var stage = new Kinetic.Stage({
            container: 'palette',
            width: 600,
            height: 200
        });

        var layer = new Kinetic.Layer();
    </script>
