  <div class="editorContent" id="centerContentBox">
	  <div id="paletteDetail"></div>

  </div>
    <script defer="defer">

        var stage = new Kinetic.Stage({
            container: 'palette',
            width: 600,
            height: 200
        });

        var layer = new Kinetic.Layer();
    </script>
