  <div class="editorContent" id="centerContentBox">
	  <div class="container-fluid" id="createPaletteForm" style="padding: 10px; display: none;">
	    <%= render 'palettes/form', palette: @palette %>
	  </div>
    <div class="container" id="palette"></div>
  </div>

    <script defer="defer">

        var stage = new Kinetic.Stage({
            container: 'palette',
            width: 600,
            height: 200
        });

        var layer = new Kinetic.Layer();
    </script>
