<%= render 'palettes/tool_bar' %>
<%= render 'palettes/left_side_content' %>
<%= render 'palettes/center_content' %>
<%= render 'palettes/right_side_content' %>
<div id="paletteShareFormContainer">
</div>

