<% if @palettes.present? %>
  <div class="list-group" id="paletteGroup">
    <% @palettes.each do |palette| %>
      <%= link_to palette.title, palette, remote: true, format: :js,
                  class: 'list-group-item' , id: "#palette_link_#{palette.id}" %>
    <% end %>
	</div>
<% end %>
