<div class="container" style="padding: 10px">
  <h3>
    <%= palette.title %>
	  <small>
		  <a id="editPaletteIcon" href="<%= edit_palette_path palette %>" data-remote="true" data-toggle="tooltip" data-placement="top" title="Edit">
		    <span class='glyphicon glyphicon-pencil'></span>
		  </a>
	  </small>
  </h3>

</div>