<% content_for :right_side_content do %>
  <div class="editorContent" id="rightSideContentBox">
    <div  class="form-group" id="buttonDetails" style="padding: 10px;">
      Button Title: <input type="textbox" class="form-control"  id="buttonTitle"/><br>
      Button Color: <input type="textbox" class="form-control"  id="buttonColor" /><br>
      Speech Phrase: <input type="textbox" class="form-control"  id="speechPhrase"/><br>
      Speech Speed Rate: <input type="textbox" class="form-control" id="speechSpeed"/><br>
    </div>
  </div>
<% end %>