<% content_for :content  do %>
  <div class="row" id="editorWrapper">
    <div class="col-xs-12 col-md-12 col-lg-12" id="editorPage">
      <div id="editorWrapperInner">
        <%= render 'palettes/editor' %>
      </div>
    </div>
    <script>
      var url;
      <% if current_user.palettes.present? && current_user.current_palette.present? %>
      url = "/palettes/" + '<%= current_user.current_palette.id %>' + "?locale=en";
      $.getScript(url);

      $('#editPaletteIcon').popover({
        trigger: 'hover',
        placement: 'top'
      });
      <% end %>

      $(document).bind("keypress", function(e) {
        var data, url;
        url = "/buttons";
        data = {
          palette_id: <%= current_user.current_palette.id %>,
          keypress: true,
          js: true
        };
        return $.ajax({
          type: "POST",
          url: url,
          data: data,
          dataType: 'script'
        });
      });

    </script>
  </div>
<% end %>