<% content_for :head do %>
	<%= stylesheet_link_tag 'palettes',
	                        'jquery.gridster.min',
	                        'jquery.nouislider.min',
                          'buttons',
                          'button_colors',
                          'buttons_highlighted',
	                        media: :all,
	                        'data-turbolinks-track' => true %>
<% end %>
<% content_for :content  do %>
  <div class="row" id="editorWrapper">
    <div class="col-xs-12 col-md-12 col-lg-12" id="editorPage">
      <div id="editorWrapperInner">
        <%= render 'palettes/editor' %>
      </div>
    </div>
    <script>
      var url;
      <% if current_user.palettes.present? && current_user.current_palette.present? %>
      url = "/palettes/" + '<%= current_user.current_palette.id %>' + "?locale=en";
      $.getScript(url);

      $('#editPaletteIcon').popover({
        trigger: 'hover',
        placement: 'top'
      });
	  
	  $("#palette_link_" + '<%= current_user.current_palette.id %>').click();
      <% end %>

      $('#addNewButton').keypress(function(e) {
        if (e.keycode === 13) {
          return e.preventDefault();
        }
      });

      $(document).ready(function(){
	      $('.gridster ul li:first a').click()
      });
    </script>
  </div>
<% end %>
