<div id="termsModal" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <br/>
        <!--<h4 class="modal-title">Terms and Conditions</h4>-->
      </div>
      <div class="modal-body" data-spy="scroll" data-tager="container-fluid">
        <div class="container-fluid">
          <div class="page-header">
            <h4 class="text-center">ORIGAMI ROBOTICS TERMS OF USE</h4>
          </div>
          <p class="lead text-justify">
            Welcome to Origami Robotics and thank you for using our website and services! By using our website and services, you are agreeing to these terms. Please read them carefully.
          </p>
          <div class="scrollable">
            <ol>
              <li>
                <dl>
                  <dt>Binding Effect</dt>
                  <dd class="text-justify">If you are using our website or services on behalf of an organization, you agree to these terms of use on behalf of that organization and promise that you have the authority to bind that organization to these terms of use. Origami Robotics may revise these terms of use at any time and the most current version will always be posted on our website. If a revision, in our sole discretion, is material, then we will notify you by e-mail if there is an email address associated with your account. Other changes may be posted to our blog or terms page, so please check those pages regularly. By continuing to access or use our website or services after revisions become effective, you agree to be bound by the revised terms. If you do not agree to the revised terms, please stop using the website and services.</dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>Medical Liability</dt>
                  <dd class="text-justify">ORIGAMI ROBOTICS DOES NOT PROVIDE MEDICAL ADVICE. DO NOT USE OUR WEBSITE AND SERVICES FOR EMERGENCY MEDICAL OR MENTAL HEALTH NEEDS. IF YOU THINK YOU MAY BE A DANGER TO YOURSELF OR OTHERS, OR YOU ARE HAVING A MEDICAL OR MENTAL HEALTH EMERGENCY, CALL 911 OR EMERGENCY MEDICAL SERVICES. The information on the website and services provided by Origami Robotics does not constitute medical advice of any kind and it is not intended to be, and should not be, used to diagnose or identify treatment for a medical or mental health condition. Nothing on the website and services should be construed as an attempt to offer or render a medical or mental health opinion or otherwise engage in the practice of medicine by Origami Robotics. Unlike a doctor or health plan, our website and services are not regulated by the Health Insurance Portability and Accountability Act (“HIPPA”), a federal law that establishes data confidentiality standards for patient health information, however your use of our website or services might be regulated by HIPPA, and it is your sole responsibility to comply with HIPPA and any other applicable federal, state, and local laws, regulations, and orders that govern your use of our website and services.</dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>Services</dt>
                  <dd class="text-justify">Origami Robotics may discontinue, suspend, or modify our website and services at any time without prior notice. If we discontinue a service, where reasonably possible, we will give you reasonable advance notice. By using our website or services, you represent that you are at least 13 years old. No persons who are at least 13 years of age but under the age of 18 may use our website or services without legal parental or guardian consent. Accordingly, you represent that you are at least 18 years of age or older or possess legal parental or guardian consent, and are fully able and competent to enter into the terms, conditions, representations and warranties stated in these terms of use, otherwise, please discontinue your use of our website and services. The information that you provide Origami Robotics as part of the registration process  must be accurate and complete. You are responsible for maintaining the confidentiality of your password and account, and are responsible for all activities that occur thereunder. Origami Robotics may refuse service to anyone, at any time, for any reason, and without notice.</dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>Intellectual Property</dt>
                  <dd class="text-justify">You acknowledge that Origami Robotics owns all right, title and interest in and to our website and services and the content therein, including without limitation all intellectual property rights, and such rights are protected by U.S. and international intellectual property laws. All content on this site and any provided to you in connection with our website and services, including any materials or publications, is Copyright © 2014 Origami Robotics, Inc., all rights reserved. You agree that you will not copy, reproduce, alter, modify, or create derivative works from our website and services. You also agree that you will not use any robot, spider, other automated device, or manual process to monitor or copy any content from our website and services. Notwithstanding the provisions of this section 4, Origami Robotics hereby grants you a license in and to the Procedural Content under the terms of the Creative Commons Attribution 4.0 International License (http://creativecommons.org/licenses/by/4.0/ and successor locations for that license) (the "CC License”), on the condition that, in each case, the Procedural Content is specifically marked as being subject to the CC License. As used herein, “Procedural Content" means the lesson plans and button interfaces and pallets made available to you as part of our “Romibo Web” website and services.</dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>User Content</dt>
                  <dd class="text-justify">You grant Origami Robotics a license to use the materials you post to our website and services for the limited purpose of operating, promoting, and improving our website or services, and to develop new ones. By posting, downloading, displaying, performing, transmitting, or otherwise distributing information or other content (“User Content”) to our website or services, you are granting Origami Robotics, its affiliates, officers, directors, employees, consultants, agents, and representatives a license to use User Content in connection with the operation of the business of Origami Robotics, its affiliates, officers, directors, employees, consultants, agents, and representatives, including a right to copy, distribute, transmit, publicly display, publicly perform, reproduce, edit, translate, and reformat User Content. You will not be compensated for any User Content. You agree that Origami Robotics may publish or otherwise disclose your name in connection with your User Content. By posting User Content on our website or services, you warrant and represent that you own the rights to the User Content or are otherwise authorized to post, distribute, display, perform, transmit, and distribute User Content.</dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>Warranties</dt>
                  <dd class="text-justify">OUR WEBSITE AND SERVICES ARE PROVIDED “AS IS”, AT YOUR OWN RISK, WITHOUT EXPRESS OR IMPLIED WARRANTY OR CONDITION OF ANY KIND. ORIGAMI ROBOTICS DISCLAIMS ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. Origami Robotics will have no responsibility for any harm to your computer system, loss or corruption of data, or other harm that results from your access to or use of our website or services.</dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>Liability</dt>
                  <dd class="text-justify">In no event will Origami Robotics or its affiliates' of any tier be liable in contract, tort, strict liability, warranty or otherwise, for any special, incidental, or consequential damages, including delay, disruption, loss of product, loss of anticipated profits or revenue, loss of use of the equipment or system, non-operation or increased expense of operation of other equipment or systems, cost of capital, or cost of purchase or replacement equipment systems or power.</dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>Indemnification</dt>
                  <dd class="text-justify">You will hold harmless and indemnify Origami Robotics and its affiliates, officers, agents, and employees from any claim, suit, or action arising from or related to the use of our website or services, or violation of these terms of use, including any liability or expense arising from claims, losses, damages, suits, judgments, litigation costs, and attorneys’ fees.</dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>Miscellaneous</dt>
                  <dd class="text-justify">The laws of the State of California, without giving effect to principles of conflicts of laws, govern all matters arising under these terms of use, including all tort claims. All claims arising out of or relating to these terms of use or our website and services will be litigated exclusively in the federal or state courts of San Francisco County, California, and you and Origami Robotics consent to venue and personal jurisdiction there. These terms of use constitutes the entire agreement between you and Origami Robotics relating to the subject matter of these terms of use and supersedes all other oral or written agreements or policies relating thereto. You and Origami Robotics are independent business entities, bound to each other only as provided in these terms of use. Nothing in these terms of use creates a relationship between you and Origami Robotics of employer-employee, partners, principal and agent, master and servant or franchisor and franchisee. These terms of use are not intended to benefit, nor will it be deemed to give rise to, any rights in any third party. Origami Robotics’ failure to enforce a provision is not a waiver of its right to do so later. If any provision of these terms of use is unenforceable to any extent, the remainder of these terms of use, or application of that provision to any persons or circumstances other than those as to which it is held unenforceable, will not be affected by that unenforceability and will be enforceable to the fullest extent permitted by law. You may not assign any of your rights in these terms of use, and any such attempt is void. Origami Robotics may assign its rights to any of its affiliates or subsidiaries, or to any successor in interest of any business associated with our website or services.</dd>
                </dl>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->