<!DOCTYPE html>
<html>
<head>
  <title>Welcome to RomiboWeb</title>
</head>

<body>
<div style="width: 600px; height: 600px; border: solid 2px #666666; padding: 30px;">
  <div style="height: 50px; margin-bottom: 50px; ">
    <%= link_to image_tag("#{root_url}/images/logo_blue.png", alt: "RomiboWeb logo"), root_path %>
  </div>
  <div class="bodyTextOfEmail">
    <p>Hi <%= @user.first_name %>, welcome to Create.Romibo!</p>
    <br>
    <p>Your account has been successfully created via <%= @user.provider.to_s.titleize %>. </p>
    <p>Now you will be able to access Romibo's lesson libraries as well as create and share your own Romibo content. </p>
    <br>
    <p>Feel free to contact us with any questions. We're here to help!</p>
    <br>
    <p>The Romibo Team</p>
    <p>Origami Robotics</p>
  </div>
</div>
</body>
</html>