<% provide(:title, t('home.title')) %>
<% content_for :head do %>
	<%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :content  do %>
  <div class="container">

    <div class="welcome-container">
      <div class="page-header">
        <h4 class="left welcome-create"><%= t('home.header.create') %></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= render 'romiboweb_pages/home/sign_in_sign_up' %>
      </div>
    </div>

    <!--%= render 'romiboweb_pages/home/home_content' %-->
  </div>
	<%= render 'romiboweb_pages/home/terms' %>
<% end %>
