<% provide(:title, t('home.title')) %>

<% content_for :content  do %>
  <div class="container-fluid" id="homeWrapper">
    <%= render 'romiboweb_pages/home/home_content' %>
  </div>
	<%= render 'romiboweb_pages/home/terms' %>
<% end %>