<% provide(:title, t('home.title')) %>

<% content_for :content  do %>
  <div class="container-fluid" id="homeWrapper">
    <div class="row">
      <div class="col-xs-1 col-md-1 col-lg-1"></div>
      <div class="col-xs-10 col-md-10 col-lg-10">
        <%= render 'romiboweb_pages/home/home_content' %>
      </div>
      <div class="col-xs-1 col-md-1 col-lg-1"></div>
    </div>
  </div>
<% end %>