<% content_for :content  do %>

    <div class="container" id="homeWrapper">
      <h1>Attachments</h1>
      <div class="row">
        <div class="col-md-4">
          <%= render "attachments/form" %>
        </div>
      </div>
    </div>
<% end %>