<div class="panel panel-primary" id="recommendedPalettes">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= 'Recommended Palettes' %>
    </h3>
  </div>
  <div id="recommendedPalettesList">
    <%= render 'palettes/left_side/recommended_palettes_list' %>
  </div>
</div>
