<div class="navbar navbar-fluid pull-right" id="topNavbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="container-fluid nav-collapse">
        <ul class="nav">
          <% yield :top_navigation %>
          <li><%= link_to "Sign out", "/path1"  %></li>

        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
