<div class="collapse navbar-collapse topNavbar">
  <% if user_signed_in? %>
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to t('topnav.dashboard') %></li>
      <li><%= link_to t('topnav.palettes') %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
	    <li><a href="#"><%= t('topnav.myprofile') %></a></li>
	    <li>
        <%= button_to t('topnav.signout'), destroy_user_session_path, method: :delete, class: 'btn btn-link', confirm: 'Are you sure?' %>
	    </li>
    </ul>
  <% end %>
</div>