<div class="collapse navbar-collapse topNavbar">
  <% if user_signed_in? %>
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to 'Dashboard' %></li>
      <li><%= link_to 'Palettes' %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
	    <li><a href="#">My Profile</a></li>
	    <li><a href="#">Sign Out</a></li>
    </ul>
  <% end %>
</div>