<div class="navbar navbar-fluid" id="topNavbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="container-fluid nav-collapse">
        <ul class="nav">
          <% yield :top_navigation %>
          <li><%= link_to "Play", "/path1"  %></li>
          <li><%= link_to "About", "/path2"  %></li>
          <li><%= link_to "Contact", "/path3"  %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
