<div class="collapse navbar-collapse topNavbar">
  <% if user_signed_in? %>
    <ul class="nav navbar-nav navbar-right">
      <% unless params[:action] == 'dashboard' or params[:action] == 'home' %>
      <li><%= link_to t('topnav.dashboard'), dashboard_path %></li>
      <% end %>
      <% unless params[:controller] == 'palettes' %>
        <li><%= link_to  t('topnav.palettes'), palettes_path  %></li>
      <% end %>
      <% unless params[:controller] == 'feedbacks' %>
        <li><%= link_to  t('topnav.feedback'), feedbacks_path %></li>
      <% end %>
    </ul>

  <% end %>
</div>
