<div class="collapse navbar-collapse topNavbar">
  <% if user_signed_in? %>
    <ul class="nav navbar-nav navbar-right">
      <% unless params[:action] == 'dashboard' or params[:action] == 'home' %>
      <li><%= link_to t('topnav.dashboard'), dashboard_path %></li>
      <% end %>
      <% if params[:action] == 'dashboard' %>
        <li><%= link_to  t('topnav.palettes'), romiboweb_pages_editor_path  %></li>
      <% end %>
    </ul>

  <% end %>
</div>
