<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <div class="caption">
      <h5><%= link_to '<i class="glyphicon glyphicon-th"></i> '.html_safe + palettes.title, palettes %></h5>
    </div>
  </div>
</div>
