<% palettes.each do |palette| %>
<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <div class="caption">
      <h5><span class="glyphicon glyphicon-th"></span><%= ' ' + palette.title %></h5>
    </div>
  </div>
</div>
<% end %>
