<% provide(:title, 'My Lessons') %>
<% content_for :content do%>
<div class="container">
  <div class="jumbotron" style="text-align: left">
    <h2>
      Welcome to Lessons
    </h2>
    <p>
      Lessons are descriptions of how to best use your <br>
      Romibo pallets to achieve specific learning goals. <br><br>
      You can create, store and share your lessons here.
    </p>
    <p><%= link_to 'Create New Lesson', new_lesson_path, class: 'btn btn-large btn-primary' %></p>

  </div>

  <div class="row">
    <%= render @lessons %>
  </div>
</div>
    
<% end %>
