<div class="panel panel-primary" id="buttonForm">
  <div class="panel-heading">
    <h3 class="panel-title" id="buttonHeaderOnForm">Editing multiple buttons</h3>
  </div>
  <div class="panel-body">
    <%= render 'palettes/right_side/form_for_multiple_buttons' %>
  </div>
</div>