$('#buttonDetails').replaceWith( '<div id="buttonDetails">' +
'<%= j render "palettes/right_side/multiple_buttons_form" %>' +
"</div>");

var speedRateField = $('#button_speech_speed_rate');
var speedRate = <%= @button.speech_speed_rate.to_i || 0.2 %>;
var buttonTitle = $('#button_title');
var buttonSpeechPhrase = $('#button_speech_phrase');


$('.noUiSlider').noUiSlider({
  range: [1, 10]
  ,start: [speedRate, 10]
  ,step: 1
  ,handles: 1
  ,serialization: {
    to: [speedRateField]
  }
}).change(function(){
  $('#button_form').submit();
});

speedRateField.mouseover(function() {
  $(this).prop('disabled', true);
});

speedRateField.mouseout(function() {
  $(this).prop('disabled', false);
});

$(function() {
  $('.chosen-select').chosen({
    no_results_text: 'No results matches',
    width: '300px',
    height: '50px'
  }).change(function(){
    $('#button_form').submit();
  });
});

buttonTitle.prop('disabled', true);
buttonSpeechPhrase.prop('disabled', true);

$('#butttonHeaderOnForm').val('Editing multiple buttons');
