.banner {
	height: 80px;
	vertical-align: middle;
}

.logo {
    margin-left: 50px;
    margin-right: 50px;
}

.logo img {
    width: auto;
    height: 60px;
}

.topNavbar li {
   font-size: 1.5em;
}

#signOutLinkOnTopNav a:link, a:active{
    color: white;
    font-weight: bold;
}

#signOutLinkOnTopNav a:active{
    color: white;
    font-weight: bold;
}

#signOutLinkOnTopNav a:visited{
    color: white;
    font-weight: bold;
}

#signOutLinkOnTopNav a:hover{
    color: #0086b3;
    font-weight: bold;
}

.static-tag {
	position: absolute;
	z-index: 1000;
}

.static-tag .top {
	top: 0px;
}

.static-center {
	right: 50%;
}

.right {
	right: 150px;
}

