.logo {
    margin-left: 50px;
    margin-right: 50px;
}

.logo img {
    width: auto;
    height: 50px;
}

.static-tag {
	position: absolute;
	z-index: 1000;
}

.static-tag .top {
	top: 0px;
}

.static-center {
	right: 50%;
}

.right {
	right: 150px;
}

.dropdown-menu {
    min-width: 250px;
}

.help-block {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-inverse {
    background-color: #e9f7fc;
    border: none;
}