.banner {
    width: 100%;
    height: 200px;
    background-image: url("romibo/background.jpg");
    background-repeat: repeat;
    border-bottom-color: #0086b3;

    position: fixed;
}

#logo {
    height: 100px;
    margin-top: 30px;
    margin-left: 50px;
}

#logo img {
    width: auto;
    height: 120px;
}

#topNavbar {
    margin-top: 30px;
}