.btn-palette-button {
    height: 100%;
    color: #ffffff;
    font-size: 12px;
    white-space: inherit;
}

.btn-palette-button:hover {
    color: #ffffff;
}

#buttonForm {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
}

#speechSpeedRateSlider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.chosen-container-single .chosen-single {
    height: 28px;
    line-height: 28px;
}


#cancelButtonCreation {
    margin-top: 28px;
}

#deleteButton {
    margin-top: 26px;
}

div.smallButtonWidget {
    position: relative;
    height: 46px;
    width: 46px;
    border-radius: 5px;
    display: inline-block;
    margin-left: 2px;
}

div.smallButtonWidget a {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration:none; /* Makes sure the link   doesn't get underlined */
}

div.smallButtonWidget:hover {
    /*background-color: rgba(32, 60, 144, 0.93);*/
    color: white;
}

.smallButtonWidget h1 {
    font-size: 12px;
    text-align: center;
    margin-top: 13px;
    color: white;
}


/* Medium */
div.mediumButtonWidget {
    position: relative;
    height: 46px;
    width: 96px;
    border-radius: 5px;
    display: inline-block;
    margin-left: 2px;
}

div.mediumButtonWidget a {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration:none; /* Makes sure the link   doesn't get underlined */
}

div.mediumButtonWidget:hover {
    /*background-color: rgba(32, 60, 144, 0.93);*/
    color: white;
}

.mediumButtonWidget h1 {
    font-size: 12px;
    text-align: center;
    color: white;
    margin-top: 13px;
}


/*  Large */
div.largeButtonWidget {
    position: relative;
    height: 46px;
    width: 146px;
    border-radius: 5px;
    display: inline-block;
    margin-left: 2px;
}

div.largeButtonWidget a {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration:none; /* Makes sure the link   doesn't get underlined */
}

div.largeButtonWidget:hover {
    /*background-color: rgba(32, 60, 144, 0.93);*/
    color: white;
}

.largeButtonWidget h1 {
    font-size: 12px;
    text-align: center;
    margin-top: 13px;
    color: white;
}

#doneButton,
#deleteButton,
#cloneButton,
#applyButton,
#cancelMultipleEditButton
{
    margin-top: -10px;
}


.buttonSelection {
    height: 20px;
    width: 50px;
    margin-left: 10px;
}

.singleButtonContainerWithSelection {
    height: 70px;
    float: left;
    margin-bottom: 10px;
}

.singleButtonContainerWithoutSelection {
    height: 46px;
    float: left;
    margin-bottom: 10px;
}

.buttonColorPreviewBox {
    width: 50px;
    height: 20px;
    border: solid 1px #000000;
    float: left;
    margin: 3px 20px 3px 10px;
}

