#buttonForm {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}

#speechSpeedRateSlider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.chosen-container-single .chosen-single {
    height: 28px;
    line-height: 28px;
}


#cancelButtonCreation {
    margin-top: 28px;
}

#deleteButton {
    margin-top: 26px;
}

div.smallButtonWidget {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    display: inline-block;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
}

div.smallButtonWidget a {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration:none; /* Makes sure the link   doesn't get underlined */
}

div.smallButtonWidget:hover {
    /*background-color: rgba(32, 60, 144, 0.93);*/
    color: white;
}

.smallButtonWidget h1 {
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    color: white;
}


/* Medium */
div.mediumButtonWidget {
    position: relative;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    display: inline-block;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
}

div.mediumButtonWidget a {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration:none; /* Makes sure the link   doesn't get underlined */
}

div.mediumButtonWidget:hover {
    /*background-color: rgba(32, 60, 144, 0.93);*/
    color: white;
}

.mediumButtonWidget h1 {
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    color: white;
}


/*  Large */
div.largeButtonWidget {
    position: relative;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    display: inline-block;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
}

div.largeButtonWidget a {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration:none; /* Makes sure the link   doesn't get underlined */
}

div.largeButtonWidget:hover {
    /*background-color: rgba(32, 60, 144, 0.93);*/
    color: white;
}

.largeButtonWidget h1 {
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

#doneButton {
    margin-top: -10px;
}

#deleteButton {
    margin-top: -10px;
}

#cloneButton {
    margin-top: -10px;
}
