.redButtonColorHighlighted {
    background-color: #c1392d;
    border: solid 2px #12558F;
}

.orangeButtonColorHighlighted {
    background-color: #d45300;
    border: solid 2px #12558F;
}

.yellowButtonColorHighlighted {
    background-color: #f39b13;
    border: solid 2px #12558F;
}

.greenButtonColorHighlighted {
    background-color: #27ae61;
    border: solid 2px #12558F;
}

.light-greenButtonColorHighlighted {
    background-color: #2dcc70;
    border: solid 2px #12558F;
}

.blueButtonColorHighlighted {
    background-color: #3498db;
    border: solid 2px #12558F;
}

.turquoiseButtonColorHighlighted {
    background-color: #13c8b0;
    border: solid 2px #12558F;
}

.purpleButtonColorHighlighted {
    background-color: #8d44af;
    border: solid 2px #12558F;
}

.pinkButtonColorHighlighted {
    background-color: #fe7a7a;
    border: solid 2px #12558F;
}