.turquoiseButtonColor {
    background-color: #1ABC9C;
}

.green-seaButtonColor {
    background-color: #16A085;
}

.emeraldButtonColor {
    background-color: #2ECC71;
}

.nephritisButtonColor {
    background-color: #27AE60;
}

.peter-riverButtonColor {
    background-color: #3498DB;
}

.belize-holeButtonColor {
    background-color: #2980B9;
}

.amethystButtonColor {
    background-color: #9B59B6;
}

.wisteriaButtonColor {
    background-color: #8E44AD;
}

.wet-asphaltButtonColor {
    background-color: #34495E;
}

.midnight-blueButtonColor {
    background-color: #2C3E50;
}

.sun-flowerButtonColor {
    background-color: #F1C40F;
}

.orangeButtonColor {
    background-color: #F39C12;
}

.carrotButtonColor {
    background-color: #E67E22;
}

.pumpkinButtonColor {
    background-color: #D35400;
}

.alizarinButtonColor {
    background-color: #E74C3C;
}

.pomegranateButtonColor {
    background-color: #C0392B;
}

.cloudsButtonColor {
    background-color: #ECF0F1;
}

.silverButtonColor {
    background-color: #BDC3C7;
}

.concreteButtonColor {
    background-color: #95A5A6;
}

.asbestosButtonColor {
    background-color: #7F8C8D;
}