.redButtonColor {
    background-color: #c1392d;
}

.orangeButtonColor {
    background-color: #d45300;
}

.yellowButtonColor {
    background-color: #f39b13;
}

.greenButtonColor {
    background-color: #27ae61;
}

.light-greenButtonColor {
    background-color: #2dcc70;
}

.blueButtonColor {
    background-color: #297fb8;
}

.turquoiseButtonColor {
    background-color: #13c8b0;
}

.purpleButtonColor {
    background-color: #8d44af;
}

.pinkButtonColor {
    background-color: #fe7a7a;
}