body {
	background: url("romibo/welcome_bg_2.jpg") no-repeat;
	background-size: cover;
	background-color: black;
}

.panel {
	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.page-header {
	border: none;
    margin: 0px;
}

.welcome-container {
	color: #ffffff;
}

.welcome-header {
    margin-top: 0px;
}

.welcome-create {
    font-size: 20px;
}

#welcomeBoxOnHomePage {
    height: 384px;
}

#signInBoxOnHomePage {
    height: 200px;
}

#signUpBoxOnHomePage {
    height: 350px;
}

#socialMediaBoxOnHomePage {
    height: 80px;
}

#social_sign_in_panel {
    margin: 10px;
}

#sign_in_panel {
    margin: 10px;
}

.scrollable {
    height: 350px !important;
    overflow: scroll;
}




