#homeWrapper {
    background-color: #2590e1;
}

.homeContentBox {
    background-color: white;
    border: solid 1px #0086b3;
    border-radius: 5px;
}

.homeContentBox h1 {
    font-size: 20px;
    color: chocolate;
    margin-top: 10px;
    text-align: center;
}

.homeContentBox h2 {
    font-size: 15px;
    color: chocolate;
    text-align: center;
    margin-top: 0;
}

#welcomeBoxOnHomePage {
    height: 384px;
}

#signInBoxOnHomePage {
    height: 200px;
}

#signUpBoxOnHomePage {
    height: 350px;
}

#socialMediaBoxOnHomePage {
    height: 80px;
}


