#welcomeBoxOnHomePage {
    height: 384px;
}

#signInBoxOnHomePage {
    height: 200px;
}

#signUpBoxOnHomePage {
    height: 350px;
}

#socialMediaBoxOnHomePage {
    height: 80px;
}

#social_sign_in_panel {
    margin-top: 45px;
}


