body {
	background-color: #e1e1e1;
}

#editorWrapper {
	background-color: #e1e1e1;
    padding-bottom: 50px;
}

.editorContent {
    background-color: #ffffff;
    height: 600px;
    border-radius: 10px;
}

#editorWrapperInner  {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

#leftSideContentBox {
    width: 196px;
    overflow-y: auto;
}

#centerContentBox {
    width: 650px;
    margin-left: 200px;
    margin-top: -600px;
}

#rightSideContentBox {
    width: 346px;
    margin-left: 850px;
    margin-top: -600px;
    border-left: solid 4px #e1e1e1;
}

#editorToolbar {
    height: 50px;
    background: transparent;
}

#paletteDetail {
    padding: 10px;
}

#paletteGroup {
    width: 100%;
}

#paletteList {
  margin-bottom: 20px;
}

.min-height-600 {
	min-height: 600px;
}


#newPaletteLink {
    width: 100px;
    margin-left: 50px;
}

.paletteDetailsContainer {
    width: 640px;
    margin-top: 5px;

}

#paletteSelectedButtonsInCenterColumn {
    margin-top: 0;
    overflow-y: auto;
    height: 450px;
    margin-left: 1px;
}

.paletteDetailsContainer h3 {
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
}

#editMultipleButtonsMenuBox {
    margin-bottom: 20px;
    height: 50px;
    width: 610px;
    margin-left: 2px;
    border: solid 1px ;
}


#myPalettes {
    height: 300px;
    overflow-y: auto;
}
