body {
	background-color: #e1e1e1;
}

#editorWrapper {
	background-color: #e1e1e1;
    padding-bottom: 50px;
}

.editorContent {
    background-color: #ffffff;
    height: 600px;
    border-radius: 10px;
}

#editorWrapperInner  {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

#leftSideContentBox {
    width: 196px;
}

#centerContentBox {
    width: 650px;
    margin-left: 200px;
    margin-top: -600px;
}

#rightSideContentBox {
    width: 346px;
    margin-left: 850px;
    margin-top: -600px;
    border-left: solid 4px #e1e1e1;
}

#editorToolbar {
    height: 50px;
    background: transparent;
}

#paletteDetail {
    padding: 10px;
}

#paletteGroup {
    width: 100%;
}

#paletteList {
  margin-bottom: 20px;
}

.min-height-600 {
	min-height: 600px;
}


#newPaletteLink {
    width: 100px;
    margin-left: 50px;
}

.paletteDetailsContainer {
    width: 640px;
    margin-top: 5px;

}

#paletteSelectedButtonsInCenterColumn {
    margin-top: 0;
    overflow-y: auto;
    height: 420px;
    margin-left: 1px;
}

.paletteDetailsContainer h3 {
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
}

#editMultipleButtonsMenuBox {
    margin-bottom: 20px;
    height: 50px;
    width: 610px;
    margin-left: 2px;
    border: solid 1px ;
}


#myPalettes {
    height: 300px;
    overflow-y: auto;
}

[draggable="true"] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#dragSelectedButtonsIcon {
  padding: 10px;
  width: 300px;
  min-height: 50px;
  height: auto;
  border: solid 2px #0086b3;
  background-color: #000099;
  color: white;
  font-weight: bold;
}

.miniAvatar {
  width: 25px;
  height: 25px;
  border: solid 1px #111111;
}

#recommendedPalettes {
  margin-top: -18px;
  overflow-y: auto;
  height: 300px;
}

.paletteOwnerAvatar {
  border-bottom: solid 1px #d3d3d3;
  margin-top: 1px;
}

.recommendedPaletteButton {
  width: 160px !important;
  margin-left: 34px !important;
  margin-top: -34px !important;
}

.recommendedByWho {
  color: #d3d3d3;
  font-size: 14px;
}

a.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

h3.panel-title {
  font-size: 15px;
}

#noCurrentRecommendedPalettes {
  margin: 10px;
  padding: 10px;
}
