#profileContainer {
    background-color: #f3f3f3;
    height: 800px;
    width: 100%;
}

#personalProfileBox {
    height: 220px;
    border: solid 1px #e7e7e7;
    background-color: white;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#personalProfileBox h3{
    margin-top: 10px;
    margin-left: 20px;
}

#usernameBox {
    margin-top: 20px;
    margin-left: -50px;
}