<div class="row-fluid banner">
  <div class="span4">
    <%= render 'layouts/banner/logo' %>
  </div>
  <div class="span6">
    <%= render 'layouts/banner/top_navigation_bar' %>
  </div>
  <div class="span2">
    <%= render 'layouts/banner/signed_in_navigation_bar' %>
  </div>
  <div class="clearfix"></div>
  <div class="clearfix"></div>
</div>
