<nav class="navbar navbar-default banner" role="navigation">
  <div class="container-fluid">
    <%= render 'layouts/banner/logo' %>
    <%= render 'layouts/banner/top_navigation_bar' %>
  </div>
</nav>
