<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container">
    <%= render 'layouts/banner/logo' %>
    <%= render 'layouts/banner/top_navigation_bar' %>
  </div>
</nav>
