<nav class="navbar navbar-default banner" role="navigation">
	<div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 col-md-4">
        <%= render 'layouts/banner/logo' %>
      </div>
      <div class="col-xs-6 col-md-6">
        <%= render 'layouts/banner/top_navigation_bar' %>
      </div>
      <div class="col-xs-2 col-md-2">
        <%= render 'layouts/banner/signed_in_navigation_bar' %>
      </div>
      <div class="clearfix"></div>
      <div class="clearfix"></div>
    </div>
  </div>
</nav>
