<div id="contentWrapper">
  <% page_title = full_title(yield(:title)) %>
  <% home_page = page_title.include? t('home.title') %>

  <% if home_page %>
      <%= render 'layouts/home_container' %>
  <% else %>
      <%= render 'layouts/pages_container' %>
  <% end %>
</div>