<div id="contentWrapper">
  <% page_title = full_title %>
  <% home_page = page_title.include? "Home" %>

  <% if home_page %>
    <%= render 'layouts/home_container' %>
  <% elsif page_title.include? 'Dashboard' %>
    <%= render 'layouts/dashboard_container' %>
  <% elsif page_title.include? 'Palette Editor' %>
    <%= render 'layouts/editor_container' %>
  <% else %>
    <%= render 'layouts/pages_container' %>
  <% end %>
</div>