<div class="container-fluid">
  <div class="row" id="dashboardWrapper">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 ">
      <%= yield :content %>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>

