

<div class="row-fluid" id="editorWrapper">
  <div id="editorWrapperInner">
    <%= yield :tool_bar_content %>
    <%= yield :left_side_content %>
    <%= yield :content %>
    <%= yield :right_side_content %>
  </div>
</div>