<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <!--
      <li><!%= button_to 'English',
                        {controller: 'users',
                         action: 'locale',
                         user_locale: 'en'},
                        method: :post, class: 'btn btn-link navbar-btn' %></li>
      <li><!%= button_to 'Danish',
                        {controller: 'users',
                         action: 'locale',
                         user_locale: 'da'},
                        method: :post, class: 'btn btn-link navbar-btn' %></li>
                        -->
    </ul>

    <p class="navbar-text navbar-right">
      Romiboweb is an <a href="https://github.com/OrigamiRobotics/romiboweb" target="_blank">open source project</a> by Origami Robotics
    </p>
  </div>
</nav>
