<div class="container-fluid" id="pageWrapper">
  <div class="row">
    <div class="col-md-3 col-xs-3">
      <%= yield :left_side_content %>
    </div>
    <div class="col-md-5 col-xs-5">
      <%= yield :main_content %>
    </div>
    <div class="col-md-4 col-xs-4">
      <%= yield :right_side_content %>
    </div>
  </div>
</div>